//@keyframes :global(marquee){
@keyframes marquee{
  0%{
       transform: translate3d(-25%,0, 0px);
  }
  100%{
    transform: translate3d(-75%, 0, 0px);
    transition: none;
  }
}

.wrapper {
  //width: calc(200% - 100vw);
  width: 100%;
  height: 100vh;
  background: rgba(64, 45, 127, 1);
  margin: 0;
  overflow: hidden;

  .navigation {
    //width: 100%;
    //height: 20vh;
    display: flex;
    padding: 16px 0;
    margin: 0 5vw;

    .navigationItemArea {
      display: flex;

      .navigationItem {
        position: relative;
        margin: 0 12px;

        li {
          position: relative;
          flex: 1;
          list-style: none;
          border: 1px solid rgba(245, 186, 173, 1);
          padding: 0px 14px;
          width: 18*4px;
          font-size: 18px;
          font-family: PingFang SC;
          font-weight: 300;
          line-height: 48px;
          background: #402D7F;
          color: #F5BAAD;
          opacity: 1;
          z-index: 5;
          //&:after{
          //  content:"";
          //  position: absolute;
          //  height: 56px;
          //  border:1px solid #F5BAAD;
          //  width: 112px;
          //  background: #F5BAAD;
          //  top:8px;
          //  left:8px;
          //  z-index: -10;
          //}
        }

        .shadow {
          content: "";
          position: absolute;
          height: 48px;
          border: 1px solid #F5BAAD;
          width: 100px;
          top: 8px;
          left: 8px;
          transition: background-color .3s ease-in-out;

          &.focus {
            background: #F5BAAD;
          }
        }

        &:hover {
          .shadow {
            background: #F5BAAD
          }
        ;
        }
      }

    }

    .menu {
      //width: 48px;
      height: 48px;
      //margin-right: auto;
      float: right;
      flex: 1;
      align-items: baseline;
      display: flex;
      flex-direction: row-reverse;
      img {
        max-height: 100%;
        width: auto;
      }
    }
  }

  .idolBanner {
    margin: 0 20vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    position: relative;
    text-align: left;

    .idolName {
      margin: 10vh 0;
      position: relative;
      display: block;
      height: 45vh;

      h1 {
        position: absolute;
        z-index: 10;
        font-size: 10vw;
        font-style: italic;
        font-weight: 900;
        color: #F5BAAD;
        margin: 0;
        line-height: 12vw;
      }

      .idolNameShadow {
        position: absolute;
        left: 6px;
        top: 8px;
        z-index: 10;
        color: #00000000;
        -webkit-text-stroke: 1px #F5BAAD;
      }
    }


    .voteButton {
      position: relative;

      button {
        position: relative;
        padding: 8px 0;
        width: 24vw;
        background: rgba(64, 45, 127, 1);
        border: 1px solid rgba(245, 186, 173, 1);
        border-radius: 43px;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-style: italic;
        font-weight: 800;
        color: #F5BAAD;
        z-index: 10;
        transition: background-color .3s ease-in-out, color .3s ease-in-out;

        &:hover {
          background: #F5BAAD;
          color: rgba(64, 45, 127, 1);
        }
      }

      &:after {
        position: absolute;
        left: 4px;
        top: 6px;
        content: "";
        height: 48px;
        border: 1px solid rgba(245, 186, 173, 1);
        border-radius: 43px;

        width: calc(24vw - 1px);

      }

      .buttonShadow {

      }
    }

    .idolImage {
      position: absolute;
      right: 0;
      top: 0;
      max-height: 60vh;
      max-width: 30vw;

      .imgWrapper {
        position: relative;
        max-height: 60vh;
        max-width: 30vw;
        overflow: hidden;

        img {
          position: relative;
          width: 100%;
          z-index: 5;
        }
      }

      &:after {
        position: absolute;
        content: "";
        height: 60vh;
        width: 30vw;
        left: 16px;
        top: 16px;
        border: 2px solid rgba(245, 186, 173, 1);
        z-index: 0;
      }

    }
  }

  .statWrapper {
    position: relative;
    display: flex;
    width: calc(200% - 100vw);
    height: 100vh;

    .cardWrapper {
      flex: 0 0 45%;
      display: flex;
      align-items: center;

      .cardBackground {
        z-index:10;
        position: relative;
        margin: 0 25%;
        width: 50%;
        height: 60vh;
        background: #F5BAAD;
        transform: rotate(15deg);

        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 12px;
          left: 8px;
          border: #F5BAAD 1px solid;
        }

        .cardIcon {
          margin: 28% 19% 0;
          width: 62%;
          height: 44%;
          background: white;
          border-radius: 50%;
        }

        .statArea {
          transform: rotate(-15deg);
          font-size: 20px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
          font-style: italic;
          font-weight: 800;
          line-height: 20px;

          .statNum {
            font-weight: 800;
            color: #402D7F;
          }

          .statTitle {
            margin: 0;
            font-weight: 800;
            color: #00000000;
            -webkit-text-stroke: 1px #402D7F;
          }
        }
      }
    }

    .dataWrapper {
      transition: transform .5s ease-in-out;
      flex: 0 0 55%;
      text-align: left;
      white-space: nowrap;

      .statScrollItem {
        user-select: none;
        transition: transform .5s ease-in-out;
        color: #00000000;
        font-size: 10vh;
        line-height: 10vh;
        font-style: italic;
        font-weight: 800;
        -webkit-text-stroke: 1px #F5BAAD;

        &.active {
          color: #F5BAAD;
          -webkit-text-stroke: unset;
           white-space: nowrap;
          text-overflow: clip;
          animation: marquee 20s linear infinite;
          animation-fill-mode: backwards;
          animation-direction: alternate-reverse;
          //width: 170px;

         }
      }
    }
  }

  .idolWeiboWrapper {
    width: 100%;
    .idolWeibo {
      color: white;
      width: 100%;
      //margin: 0 10%;
      .card {
        height: 40vh;
        width: 90%;
        border: 1px solid rgba(245, 186, 173, 1);
        margin: 5vw;
        color: #F5BAAD;
        background: #402d7f;
        box-shadow: 16px 16px 0px #F5BAAD;
        //display: flex;
        .wrapper {
          display: flex;
          width: 100%;
          height: 100%;
          .content {
            flex: 0 0 50%;
            font-size:1.5vw;
            font-weight:300;
            text-align: left;
            margin: 10%;
            line-height:43px;
            color:rgba(245,186,173,1);
            opacity:1;

          }
          .avatar {
            //flex: 0 0 40%;
          display: flex;
           align-items: center;
            img {
              flex: 1;
              margin: 5%;
                width:90%;
              max-width: 100%;
              border: 1px solid rgba(245, 186, 173, 1);

            }

          }
        }

        .cardFooter {
          position: absolute;
          display: flex;
          bottom: 0;
          padding: 0 5vw;
          .func {
            border: 1px solid rgba(245, 186, 173, 1);
            width: 8vw;
            height: 8vw;
            margin: 0 1vw;
            background: #402d7f;
            display: flex;
            flex-direction: column;
            img {
              margin: 6% 20% 2%;
              width: 60%;
            }
            p {
              margin: 0;
              font-weight: 600;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

}

：global(.slider-box) {
}

：global(.slick-slider) {
  -webkit-tap-highlight-color: #none;
  outline: none!important;
}

hr.line {
  position: absolute;
  width: 160%;
  left: -30%;
  top:32px;
}